.leftDisplayPane{
  background-color: red;
  width: 6vw;
  /* min-height: calc(96vh - 10px); */
  text-align: center;
}

.expanded{
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.leftDisplayPane .title{
  /* width: 6vw; */
  /* min-height: calc(96vh - 10px); */

  writing-mode: vertical-rl;
  text-align: center;
  background-color: purple;
}

.gearButtons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  /* width: 90%; */
  /* height: 97%; */
  margin: auto;
  background-color: azure;
}

.gearButtonDiv{
  width: 25vw;
  height: 25vw;
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.gearButton{
  /* width: 95%; */
  /* height: 95%; */
}
.hidden{
  display: none;
}