.navBar{
  /* width: calc(100% - 10px); */
  height: 4vh;
  background-color: #dddddd;
  display: flex;
  padding: 5px;
  justify-content: space-between;
}
.hamburgerContainer{
  align-self: flex-end;
}
.title{
  align-self: flex-start;  
}